
<div align="center" style="background-image:URL(http://www.baskinrobbins.co.kr/assets/images/common/bg_header.gif); margin-top:10px;">
    <img src ="http://postfiles9.naver.net/MjAxNzA2MDJfMTYw/MDAxNDk2NDEzODEwNjM4.irj6fJ8r1Rg6Kgo3VPyEOIx_hvPXIjQsFKqDYvMi9aIg.xjoBhqBZhSAXRjIE067-KChbw6Ggvzv81LJtQt7HoTcg.PNG.dkw102535/KakaoTalk_20170602_232925076.png?type=w3" style="margin-top:10px">
</div>
	 <!-- Navigation -->
<div class="nav_1" style="margin-top:15px; font-family: 나눔고딕;">
	<ul>
  		<li><a href="/index">Home</a></li>
  		<li><a href="/all_icecream">All Icecream</a></li>
  		<li><a href="http://www.baskinrobbins.co.kr/">BaskinrobbinsPage</a></li>
  		<li><a href="/developer">Developer</a></li>
	</ul>
 </div>  
 <div align="center" style="margin-top:50px;">
     <h1><strong>| Developer |</strong></h1>
 </div>
 
<center>
<div style="margin-top:90px;">
    <!--<div class="col-sm-3"style="margin-top:50px; margin-left:50px; "><img src="http://mblogthumb1.phinf.naver.net/20151127_68/iamjan_1448602522595tCiYj_JPEG/attachImage_3669409785.jpeg?type=w800"></div>-->
    <!--<div class="col-sm-3" style="margin-top:20px; float:left;">-->
    <!--    <center><img src="http://mblogthumb4.phinf.naver.net/20151005_23/nerdboy19_1444009406459BW4D1_PNG/%C6%C7%B4%D9.png?type=w2" height="320px"  width="200px" ></center>-->
    <!--    <h3 align="center">JEONGIN</h3>-->
    <!--    <h5 align="center">-엄마는외계인-</h5>-->
    <!--</div>-->
    <div class="col-sm-3" style="margin-top:20px; float:left;">
        <center><img src="http://vignette2.wikia.nocookie.net/webarebears/images/4/43/Grizz.png/revision/latest?cb=20151022142753&path-prefix=ko" height="320px" width="200px"></center>
       <h3 align="center">WOONGJE</h3>
       <h5 align="center">-KNU-</h5>
    </div>
    <br>
    <!--<div  class="col-sm-3" style="margin-top:20px; float:left;">-->
    <!--    <center><img src="http://vignette3.wikia.nocookie.net/webarebears/images/3/37/Ice_bear.png" height="300px" width="300px" ></center>-->
    <!--    <h3 align="center">HYOIN</h3>-->
    <!--    <h5 align="center">-수퍼펭귄시리얼-</h5>-->
    <!--</div>-->
</div>
<!--<div  class="col-sm-3"style="margin-top:20px; float:left;">-->
<!--    <center><img src="http://pre02.deviantart.net/3a55/th/pre/i/2015/261/4/0/chloe_park_by_cyrussobanveber-d9a19fz.png" height="300px" width="300px"></center>-->
<!--    <h3 align="center">CHARLIE LIM</h3>-->
<!--    <h5 align="center">-레인보우샤베트-</h5>-->
<!--</div>-->
<div style="clear:both;"></div>

</center>