
<!-- 밑에 효인이가 만든거 -->



<div align="center" style="background-image:URL(http://www.baskinrobbins.co.kr/assets/images/common/bg_header.gif); margin-top:10px;">
    <img src ="http://postfiles9.naver.net/MjAxNzA2MDJfMTYw/MDAxNDk2NDEzODEwNjM4.irj6fJ8r1Rg6Kgo3VPyEOIx_hvPXIjQsFKqDYvMi9aIg.xjoBhqBZhSAXRjIE067-KChbw6Ggvzv81LJtQt7HoTcg.PNG.dkw102535/KakaoTalk_20170602_232925076.png?type=w3" style="margin-top:10px">
</div>
 <!-- Navigation -->
   <!-- Navigation -->
<div class="nav_1" style="margin-top:15px; font-family: 나눔고딕">
	<ul>
  		<li><a href="/index">Home</a></li>
  		<li><a href="/all_icecream">All Icecream</a></li>
  		<li><a href="http://www.baskinrobbins.co.kr/">BaskinrobbinsPage</a></li>
  		<li><a href="/developer">Developer</a></li>
	</ul>
 </div>
<div id="content">
<section class="best_icecream">
		<div align="center" style="margin-top:5px">
					<h3 class="title">
						<img src="http://www.baskinrobbins.co.kr/assets/images/menu/h_monthly_best_icecream.png" alt="MONTHLY BEST ICECREAM" style="margin-top:10px">
					</h3>
					<div id="slider" class="slider">
						<div class="list_wrap" style="font-family: 나눔고딕">
							<ul>
								<li class="list top0" style="list-style:none">
									<a><!-- 상세페이지 view.php? -->
										<div class="img">
											<strong>1위</strong>
											<span><img src="http://www.baskinrobbins.co.kr/upload/product/1530778136.png" alt=""></span>
										</div>
										<span class="ice_name">레인보우 샤베트</span></span>
									</a>
								</li>
															<li class="list top1" style="list-style:none">
									<a ><!-- 상세페이지 view.php? -->
										<div class="img">
											<strong>2위</strong>
											<span><img src="http://www.baskinrobbins.co.kr/upload/product/1551682828.png" alt=""></span>
										</div>
										<span class="ice_name">팝핑 슈렉</span>
									</a>
								</li>
															<li class="list top2" style="list-style:none">
									<a ><!-- 상세페이지 view.php? -->
										<div class="img">
											<strong>3위</strong>
											<span><img src="http://www.baskinrobbins.co.kr/upload/product/1530775918.png" alt=""></span>
										</div>
										<span class="ice_name">뉴욕 치즈케이크</span>
									</a>
								</li>
															<li class="list" style="list-style:none">
									<a><!-- 상세페이지 view.php? -->
										<div class="img">
											<strong>4위</strong>
											
											<span><img src="http://www.baskinrobbins.co.kr/upload/product/1452062933.png" alt=""></span>
										</div>
										<span class="ice_name">아몬드 봉봉</span>
									</a>
								</li>
															<li class="list" style="list-style:none">
									<a ><!-- 상세페이지 view.php? -->
										<div class="img">
											<strong>5위</strong>
											<span><img src="http://www.baskinrobbins.co.kr/upload/product/1528197022.png" alt=""></span>
										</div>
										<span class="ice_name">엄마는 외계인</span>
									</a>
								</li>
								<br>
															<li class="list" style="list-style:none">
									<a ><!-- 상세페이지 view.php? -->
										<div class="img">
											<strong>6위</strong>
											<span><img src="http://www.baskinrobbins.co.kr/upload/product/1530777439.png" alt=""></span>
										</div>
										<span class="ice_name">바람과 함께 사라지다</span>
									</a>
								</li>
															<li class="list" style="list-style:none">
									<a ><!-- 상세페이지 view.php? -->
										<div class="img">
											<strong>7위</strong>
											<span><img src="http://www.baskinrobbins.co.kr/upload/product/1530775682.png" alt=""></span>
										</div>
										<span class="ice_name">민트 초콜릿 칩</span>
									</a>
								</li>
															<li class="list" style="list-style:none">
									<a ><!-- 상세페이지 view.php? -->
										<div class="img">
											<strong>8위</strong>
											<span><img src="http://www.baskinrobbins.co.kr/upload/product/1530779443.png" alt=""></span>
										</div>
										<span class="ice_name">사랑에 빠진 딸기</span>
									</a>
								</li>
															<li class="list" style="list-style:none">
									<a ><!-- 상세페이지 view.php? -->
										<div class="img">
											<strong>9위</strong>
											<span><img src="http://www.baskinrobbins.co.kr/upload/product/1530781163.png" alt=""></span>
										</div>
										<span class="ice_name">이상한 나라의 솜사탕</span>
									</a>
								</li>
															<li class="list" style="list-style:none">
									<a><!-- 상세페이지 view.php? -->
										<div class="img">
											<strong>10위</strong>
										<span><img src="http://www.baskinrobbins.co.kr/upload/product/1483664919.png" alt=""></span>
										</div>
										<span class="ice_name">수퍼 펭귄 시리얼</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
			</div>	
	</section>	
</div>
<div style="margin-top:30px; align:center;" align="center">
	<a class="btn btn-success" roll="button" href="/home/versus?cup_size=pint">
		파인트 월드컵
	</a>
	<a class="btn btn-info" roll="button" href="/home/versus?cup_size=quater">
	    쿼터 월드컵
    </a>

</div>


<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script>
	$('.autoplay').slick({
  	slidesToShow: 3,
  	slidesToScroll: 1,
  	autoplay: true,
  	autoplaySpeed: 2000,
	});
</script>
<script>
    menu_list: function () {
			var that = this;

			// MONTHLY BEST ICECREAM
			var bestSlider = $('#slider'),
				bestWrap = bestSlider.find('.list_wrap'),
				bestList = bestWrap.find('li'),
				currentWidth =  bestSlider.width(),
				bestSliderWidth,
				bestWrapWidth,
				posXMax;

			/*! monthly best icecream

				bestSlider: 마우스 움직이는 영역
				bestWrap: 리스트 전체 영역
				bestList: 리스트 각각

				bestSliderWidth: bestSlider 가로값
				bestWrapWidth: bestWrap 가로값

				posXMax: bestWrap가 움직일 수 있는 최대치

				1. init
					> bestWrapWidth width 설정 = bestList 가로값 * bestList 개수
					> bestWrap width 설정 = bestWrapWidth

					> bestSlider width 지정
					> posXMax 설정 = 리스트 전체 영역 - 마우스 움직이는 영역 (bestWrapWidth - bestSliderWidth);

				2. reset
					> bestSlider width 재설정

				3. mousemove
					> posXMax가 0 이상일때만 이벤트 발생
					> 마우스 좌표 구하기 = e.pageX
					> 마우스 좌표에 따른 x값 = (마우스 좌표 / bestSliderWidth) * posXMax
			*/

			var MBI = {
				reset: function () {
					bestSliderWidth = bestSlider.width();
					posXMax = (bestWrapWidth - bestSliderWidth) > 0 ? (bestWrapWidth - bestSliderWidth) : 0;

					bestWrap['css']('position', (!posXMax ? 'static' : 'absolute'));
				},

				getMoveX: function (posX) {
					return -1 * posXMax * (posX / bestSliderWidth);
				},

				move: function (e) {
					if (posXMax) bestWrap.css('left', MBI.getMoveX(e.pageX) + 'px');
					return false;
				},

				init: function () {
					bestWrapWidth = bestList.width() * bestList.length;
					bestWrap.css('width', bestWrapWidth + 'px');

					this.reset();
				}
			};

			MBI.init();
			$window.on('resize', MBI.reset);
			bestSlider.on('mousemove', MBI.move);
		},
</script>
